html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
